html {
    height: 100%;
    width: 100%;
    min-width: 100px;
    min-height: 100px;
    box-sizing: border-box;
    margin: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    display: block;
    box-sizing: border-box;
    font-family: 'Segoe UI', gadudi, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    height: 100%;
    width: 100%;
    min-width: 100px;
    min-height: 100px;
    background-color: white;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 90%;
    width: 100%;
    color: #555555;
}

.companyLogo {
    height: 52px;
    width: 96px;
}

.iMenuContainer {
    margin-left: 15px;
    margin-right: 15px;
}

.itemMenu,
.fitemMenu {
    text-decoration: none;
    color: #606060;
    transition: color 0.11s linear;
}

.itemMenu:hover,
.fitemMenu:hover {
    color: #dd9067;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    font-size: 16px;
    height: 500px;
    max-height: max-content;
    width: 100%;
    background-color: #f9f9fb;
    border-top: 1px solid #efeff1;
    padding-top: 25px;
    padding-bottom: 25px;
}

#fMenuArea {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    height: max-content;
    width: 50%;
}

.footerMenu {
    box-sizing: border-box;
    height: 100%;
    width: max-content;
}

.fiMenuTitle {
    height: fit-content;
    font-size: 18px;
    font-weight: bolder;
}

.fiMenuContainer {
    margin-top: 5px;
}

#companyArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 70px;
    width: 50%;
    padding-top: 20px;
    border-top: 1px solid #e8e8ea;
}

#copyRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: max-content;
    width: fit-content;
    color: #b6b6b6;
    font-size: 14px;
}

.social {
    height: 32px;
    width: 32px;
    box-sizing: border-box;
}

.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: fit-content;
    width: auto;
    min-width: fit-content;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    height: 70px;
    width: 100%;
    background-color: #f9f9fb;
    border-bottom: 1px solid #efeff1;
    font-size: 18px;
    font-weight: bolder;
}

#paperDoc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    min-height: fit-content;
    width: 32%;
    height: 70%;
    border: 1px solid #dedee1;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #d7d7d9;
    background-color: #fbfbfd;
}

#logoTitle {
    height: 35%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 148px;
    width: 148px;
    margin-right: 5px;
}

#title {
    height: 32px;
    width: fit-content;
    font-size: 23px;
    font-weight: bolder;
    margin-left: 5px;
    color: #656565;
}

form,
#divForm {
    height: 65%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.accountValdForm {
    height: 75%;
}

.accountDel {
    height: 85%;
}

.formField {
    min-height: 40px;
    width: 80%;
    height: max-content;
}

.fieldLabel {
    margin-bottom: 10px;
    height: fit-content;
}

.container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    border: 1px solid #dedee1;
    box-shadow: 1px 1px 2px #d7d7d9;
    border-radius: 4px;
    background-color: #ffffff;
    padding-left: 5px;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 2px;
}

.container:focus-within,
.container:focus-within:hover {
    border: 2px solid #68e7f0;
    box-shadow: 1px 1px 2px #e9e9eb;
    padding-left: 4px;
    padding-right: 0px;
    padding-top: 0px;
    transition: border-color .11s linear;
}

.container:hover {
    border: 1px solid #68e7f0;
    transition: border-color .11s linear;
}

.inputField {
    background-color: transparent;
    color: #404040;
    height: 36px;
    width: 96.5%;
    margin-left: 3px;
    padding-bottom: 2px;
    padding-right: 3px;
    border-radius: 4px;
}

.inputField:focus {
    color: #404040;
}

.inputField {
    border-radius: 4px;
    border: none;
    outline: none;
}

.inputField,
.inputField::placeholder {
    font-size: 15px;
    font-weight: normal;
    font-family: 'Segoe UI', gadudi, Tahoma, Geneva, Verdana, sans-serif;
}

.inputField::placeholder {
    color: #b6b6b6;
}

#clickSpace {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 44px;
    width: 80%;
}

.specialclick {
    margin-top: 15px;
}

#signinButton,
#signinLink {
    height: 40px;
    width: 120px;
    min-width: min-content;
    border: 1px solid #56bcc5;
    border-radius: 4px;
    background-color: #56bcc5;
    color: white;
    font-size: 16px;
    transition: all .11s linear;
    cursor: pointer;
}

#signinButton:hover,
#signinLink:hover {
    background-color: #499da5;
    border: 1px solid #499da5;
}

#signinButton:active,
#signinLink:active {
    background-color: #3f858b;
    border: 1px solid #3f858b;
}

#signinLink {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#forgotLink {
    height: fit-content;
    width: auto;
    min-width: 10px;
    text-decoration: none;
    color: #dd9067;
    transition: color .11s linear;
    cursor: pointer;
}

#forgotLink:hover {
    color: #ca825e;
}

.passlink {
    margin-top: 15px;
}

#containerField {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

#verifyLogo {
    height: 168px;
    width: 168px;
}

#checkLogo {
    height: 168px;
    width: 168px;
}

#syncAccount {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    height: 110px;
    width: 99%;
    max-width: 99%;
    background-color: #f5f5f7;
    padding-left: 11px;
    padding-right: 11px;
}

#profil {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 90px;
    width: 90px;
    min-width: 90px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: #959595;
    color: white;
    text-align: center;
    font-size: 25px;
}

#status {
    margin-left: 10px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}